# Default settings for the pipeline stages.
# These can be overridden in the stage settings below.
#

pipeline_id: methylation_pipeline 

defaults:
    # Number of CPU cores to use for the task
    cores: 1
    # Maximum memory in gigabytes for a cluster job
    mem: 4
    # VLSCI account for quota
    account: punim0095
    queue: punim0095 
    # Maximum allowed running time on the cluster in Hours:Minutes
    walltime: '1:00'
    # Load modules for running a command on the cluster.
    modules: []
    # Run on the local machine (where the pipeline is run)
    # instead of on the cluster. False means run on the cluster.
    local: False 

# Stage-specific settings. These override the defaults above.
# Each stage must have a unique name. This name will be used in
# the pipeine to find the settings for the stage.

stages:
    fastqc:
        cores: 1
        walltime: '10:00'
        mem: 3 
        modules: ['fastqc/0.11.3']
    bismark_genome_prepare:
        cores: 1
        walltime: '10:00'
        mem: 12 
    bismark:
        cores: 8 
        walltime: '10:00'
        mem: 24 
    bismark_methylation_extractor:
        cores: 8 
        walltime: '10:00'
        mem: 24 
    methpat:
        cores: 8 
        walltime: '10:00'
        mem: 24 


# The input files.

human_reference_genome_dir: /data/projects/punim0095/methylation/reference

bowtie_2_dir: /usr/local/easybuild/software/Bowtie2/2.2.9-intel-2016.u3/bin/

fastqs:
 - example1_R1.fastq.gz
 - example1_R2.fastq.gz
